@{
    ViewData["Title"] = "Honours and Awards";
}

<div class="text-center">
    <h1 class="display-4">Honours and Awards</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Warren Publicover Class of 1925 Memorial Bursary (December 2024)</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Awarded $2,000 in recognition of excellent academic progress, outstanding performance during the co-op term as a final-year student, and exemplary volunteering and leadership contributions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Dalhousie Sexton Scholar Award (August, September 2022, April, December 2023)</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Achieved the Dalhousie Sexton Award three times for excellent academic performance in each semester.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">The Duke of Edinburgh Award (January 2016)</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Achieved the bronze level of the award, which consists of four sections to complete: community/environmental work, physical fitness, developing new skills, and completing an expedition.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
