@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h1 class="display-4">Education</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Bachelor of Computer Science (January 2022 - April 2025)</h5>
                        <p class="card-text">Dalhousie University, Halifax, Nova Scotia, Canada</p>
                        <p><strong>CGPA:</strong> 3.90</p>
                        <h6>Relevant Courses Completed:</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=37703&entitytype=CID&entitycode=CSCI+2134" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Software Development</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-4">
                            <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=CSCI+3120" class="card mb-2" target="_blank">
                                <div class="card-body">
                                    <p class="card-text">Operating Systems</p>
                                </div>
                            </a>
                        </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=CSCI+4144" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Data Mining and Warehousing</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=37704&entitytype=CID&entitycode=CSCI+3130" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Data Mining and Warehousing</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=STAT%202060" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Advanced Probability & Statistics</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=39480&entitytype=CID&entitycode=CSCI+1800#:~:text=This%20course%20introduces%20students%20to,has%20shaped%20computing%2C%20over%20time." class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Computing and Society in History</p>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=37705&entitytype=CID&entitycode=CSCI+2100" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Workplace Communications for CS/p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=40379&entitytype=CID&entitycode=CSCI+1170" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Intro to Web Design & Development</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=37703&entitytype=CID&entitycode=CSCI+2110" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Data Structures & Algorithms</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=MATH+1030" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Matrix Theory & Linear Algebra </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=40476&entitytype=CID&entitycode=ASSC+1801#:~:text=This%20course%20introduces%20students%20to,has%20shaped%20computing%2C%20over%20time." class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Case Studies in Computing Theory</p>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=39480&entitytype=CID&entitycode=CSCI+2141" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Intro to Database Systems</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=CSCI%203110" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Algorithms I</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=39480&entitytype=CID&entitycode=CSCI+3171" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Network Computing</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=37591&entitytype=CID&entitycode=MUSC+2024" class="card mb-2" target="_blank">
                                    <div class="card-body">
                                        <p class="card-text">Guitar: History & Techniques </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Bachelor of Computer Science (February 2020 - August 2021)</h5>
                        <p class="card-text">Monash University, Subang Jaya, Malaysia</p>
                        <h6>Relevant Courses Completed:</h6>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Mobile Application Development</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">IT Professional Practice and Ethics</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Introduction to Data Science</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Introduction to Cyber Security</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Introduction to Computer Science</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Data Structures and Algorithms I</p>
                                    </div>
                                </a>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



