@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Quick Cash, Dalhousie University (September 2024)</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Conceptualized and developed Quick Cash, an Android mobile application designed to facilitate local job opportunities for users seeking small paid work.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Employed Test-Driven Development (TDD) methodologies to ensure high code quality and reliability throughout the development process.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Engineered essential features such as real-time location detection, job categorization, and a dual-role system to enhance user engagement and functionality.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Created a comprehensive job submission and search interface, enabling users to filter job listings by various criteria and view results on an interactive map.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Integrated a secure online payment solution (PayPal) to streamline transactions and ensure prompt compensation for services rendered.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Recognized as the best app out of 12 in a university-wide competition, highlighting its innovative approach and user satisfaction.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Scheduloom, ImmediaC Worldwide Inc (January 2024)</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Led the design and development of Scheduloom, a comprehensive scheduling application from prototype to implementation.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Spearheaded full-stack development efforts, including front-end, back-end, and database design, ensuring seamless integration and optimal functionality.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Utilized HTML, CSS, and JavaScript to create an intuitive and interactive user interface, enhancing user experience and engagement.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                    <p class="card-text">Implemented robust backend functionalities to support complex
                                        <p class="card-text">Implemented robust backend functionalities to support complex scheduling algorithms and data management requirements.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Collaborated closely with cross-functional teams to gather requirements, iterate on designs, and deliver high-quality solutions on time and within budget.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Sleepwell Sleep Therapy, University of Ottawa (September 2023)</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Developed a program with a group of 6 developers to enhance users' sleep quality by providing convenient access to information and tools aligned with Stepwell’s 6-week Sleep Therapy program.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Regular updates to reflect stages of the Sleep Therapy program (daily or weekly).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Utilized React for the frontend to create a user-friendly interface tailored for elderly users, while employing Node.js for the backend, Firebase for data storage, and CSS for design.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Built prototypes using Figma to visualize and refine the user experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Flight Finder, Dalhousie University (November 2022)</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Created a website using HTML, JavaScript, and designed it using CSS for my final project of the Web Development Course.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Used JavaScript to dynamically read and modify web page contents.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <p class="card-text">Collaborated with 5 students to conduct unit testing, ensuring the functionality and reliability of the application.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

